In [94]:
import pandas as pd
df_borrowers = pd.read_csv('input/Dummy_Borrowers.csv')
df_covenants = pd.read_csv('input/Dummy_Covenants.csv')
df_financials = pd.read_csv('input/Dummy_Financials.csv')
print(df_borrowers.info())
print(df_covenants.info())
print(df_financials.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   borrower_id                  20 non-null     object
 1   borrower_name                20 non-null     object
 2   financial_year_start_date    20 non-null     object
 3   most_recent_data             20 non-null     object
 4   borrower_currency            20 non-null     object
 5   borrower_sector_code         20 non-null     int64
 6   borrower_sector_description  20 non-null     object
 7   monitoring_level             20 non-null     int64
 8   monitoring_status            20 non-null     object
dtypes: int64(2), object(7)
memory usage: 1.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9499 entries, 0 to 9498
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   borrower_id                  9499 non-null   object
 1   borrower_name                9499 non-null   object
 2   borrower_sector_code         9499 non-null   int64
 3   borrower_sector_description  9499 non-null   object
 4   period                       9499 non-null   object
 5   period_title                 9499 non-null   object
 6   covenant_type                9499 non-null   object
 7   covenant_property_name       9499 non-null   object
 8   covenant_property            9499 non-null   object
 9   covenant_property_unit       9499 non-null   object
 10  covenant_property_value      9499 non-null   float64
dtypes: float64(1), int64(1), object(9)
memory usage: 816.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118435 entries, 0 to 118434
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   borrower_id                  118435 non-null  object
 1   borrower_name                118435 non-null  object
 2   borrower_sector_code         116528 non-null  float64
 3   borrower_sector_description  116528 non-null  object
 4   item                         118435 non-null  object
 5   item_name                    118435 non-null  object
 6   parent_item                  69301 non-null   object
 7   parent_name                  69301 non-null   object
 8   item_order                   118435 non-null  int64
 9   item_type                    118435 non-null  object
 10  period                       118435 non-null  object
 11  period_title                 118435 non-null  object
 12  item_value                   118435 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 11.7+ MB
None

In [95]:
print(df_borrowers)

   borrower_id                borrower_name financial_year_start_date  \
0           B1      Knapp  Brown and Keller                2022-05-01
1           B2   Miller  Wood and Wilkinson                2022-02-01
2           B3                    Smith Ltd                2022-01-01
3           B4               Porter-Beasley                2022-04-01
4           B5       Flores  Perez and Chen                2022-07-01
5           B6           Gutierrez-Martinez                2022-02-01
6           B7                   Bauer-Page                2023-04-01
7           B8  Newman  Harris and Cisneros                2021-07-01
8           B9                   Lee-Gibson                2021-04-01
9          B10    Moore  Vasquez and Willis                2020-04-01
10         B11                    Jones PLC                2022-01-01
11         B12                 Gonzales LLC                2018-08-01
12         B13              Luna-Montgomery                2016-04-01
13         B14                    White Inc                2022-10-01
14         B15     Garcia  Gordon and Lopez                2023-06-01
15         B16            Smith-Blankenship                2023-01-01
16         B17                  Davis Group                2022-07-01
17         B18               Robertson-Todd                2023-04-01
18         B19      Woods  Ayers and Jacobs                2021-11-01
19         B20                     Pena LLC                2021-07-01

   most_recent_data borrower_currency  borrower_sector_code  \
0        2023-01-01               GBP                 43220
1        2023-01-01               GBP                 66290
2        2023-02-01               GBP                 55100
3        2023-02-01               GBP                 85590
4        2023-02-01               GBP                 73110
5        2023-03-01               GBP                 85410
6        2023-03-01               GBP                 55100
7        2023-03-01               GBP                 56101
8        2023-03-01               GBP                 42120
9        2023-03-01               GBP                 32500
10       2023-03-01               GBP                 70221
11       2023-03-01               GBP                 56101
12       2023-03-01               GBP                 42990
13       2023-03-01               GBP                 55100
14       2023-04-01               GBP                 28290
15       2023-04-01               EUR                 55100
16       2023-04-01               GBP                 55100
17       2023-04-01               GBP                 43999
18       2023-04-01               GBP                 55100
19       2022-03-01               GBP                 63990

                          borrower_sector_description  monitoring_level  \
0    Plumbing, heat and air-conditioning installation                 0
1   Other activities auxiliary to insurance and pe...                 0
2                    Hotels and similar accommodation                 0
3                              Other education n.e.c.                 0
4                                Advertising agencies                 0
5               Post-secondary non-tertiary education                 0
6                    Hotels and similar accommodation                 0
7                                Licenced restaurants                 0
8   Construction of railways and underground railways                 2
9   Manufacture of medical and dental instruments ...                 0
10                               Financial management                 0
11                               Licenced restaurants                 0
12  Construction of other civil engineering projec...                 0
13                   Hotels and similar accommodation                 0
14  Manufacture of other general-purpose machinery...                 0
15                   Hotels and similar accommodation                 0
16                   Hotels and similar accommodation                 2
17   Other specialised construction activities n.e.c.                 0
18                   Hotels and similar accommodation                 0
19        Other information service activities n.e.c.                 1

   monitoring_status
0           Standard
1           Standard
2           Standard
3           Standard
4           Standard
5           Standard
6           Standard
7           Standard
8          Intensive
9           Standard
10          Standard
11          Standard
12          Standard
13          Standard
14          Standard
15          Standard
16         Intensive
17          Standard
18          Standard
19         Watchlist

In [96]:
df_financials['period'] = pd.to_datetime(df_financials['period'],format='%d/%m/%y')

In [97]:
print(df_financials)

       borrower_id            borrower_name  borrower_sector_code  \
0               B1  Knapp  Brown and Keller               66290.0
1               B1  Knapp  Brown and Keller               66290.0
2               B1  Knapp  Brown and Keller               66290.0
3               B1  Knapp  Brown and Keller               66290.0
4               B1  Knapp  Brown and Keller               66290.0
...            ...                      ...                   ...
118430         B20                 Pena LLC               28290.0
118431         B20                 Pena LLC               28290.0
118432         B20                 Pena LLC               28290.0
118433         B20                 Pena LLC               28290.0
118434         B20                 Pena LLC               28290.0

                              borrower_sector_description  \
0       Other activities auxiliary to insurance and pe...
1       Other activities auxiliary to insurance and pe...
2       Other activities auxiliary to insurance and pe...
3       Other activities auxiliary to insurance and pe...
4       Other activities auxiliary to insurance and pe...
...                                                   ...
118430  Manufacture of other general-purpose machinery...
118431  Manufacture of other general-purpose machinery...
118432  Manufacture of other general-purpose machinery...
118433  Manufacture of other general-purpose machinery...
118434  Manufacture of other general-purpose machinery...

                                 item  \
0                            ACCR_EXP
1                           LT_INVEST
2                          SR_LT_DEBT
3                          TOTAL_LIAB
4                        ACCT_PAYABLE
...                               ...
118430          SELLING_MARKETING_EXP
118431        NET_INCOME_EXCL_MIN_INT
118432        OTHER_GENERAL_ADMIN_EXP
118433    NET_INCOME_INCL_EXTRA_ITEMS
118434  INTEREST_EXP_AND_INCOME_TOTAL

                                             item_name         parent_item  \
0                                             Accruals  TOTAL_CURRENT_LIAB
1                                Long-term Investments                 NaN
2                                    Other Senior Debt       TOTAL_LT_LIAB
3                                    Total Liabilities                 NaN
4                                      Trade Creditors  TOTAL_CURRENT_LIAB
...                                                ...                 ...
118430                             Selling & Marketing      TOTAL_OPER_EXP
118431   Net Income/(Loss) Excluding Minority Interest                 NaN
118432                               Other G&A Expense      TOTAL_OPER_EXP
118433  Net Income/(Loss) to Common Incl Unusual Items                 NaN
118434               Total Interest Expense and Income                 NaN

                        parent_name  item_order         item_type     period  \
0         Total Current Liabilities         302     Balance Sheet 2022-02-01
1                               NaN         277     Balance Sheet 2022-02-01
2       Total Long-Term Liabilities         319     Balance Sheet 2022-02-01
3                               NaN         338     Balance Sheet 2022-02-01
4         Total Current Liabilities         300     Balance Sheet 2022-02-01
...                             ...         ...               ...        ...
118430     Total Operating Expenses         178  Income Statement 2025-05-01
118431                          NaN         257  Income Statement 2025-05-01
118432     Total Operating Expenses         193  Income Statement 2025-05-01
118433                          NaN         259  Income Statement 2025-05-01
118434                          NaN         252  Income Statement 2025-05-01

       period_title    item_value
0           M1-FY23      0.000000
1           M1-FY23      0.000000
2           M1-FY23      0.000000
3           M1-FY23      0.000000
4           M1-FY23      0.000000
...             ...           ...
118430     M12-FY25 -70279.849830
118431     M12-FY25  13864.610400
118432     M12-FY25      0.000000
118433     M12-FY25  13864.610400
118434     M12-FY25  -4509.804853

[118435 rows x 13 columns]

In [98]:
import re
df_financials['fy_month'] = df_financials['period_title'].str.split('-',expand=True)[0].apply(lambda x: re.sub('[^0-9]', '', x))
df_financials['fy_year'] = df_financials['period_title'].str.split('-',expand=True)[1].apply(lambda x: re.sub('[^0-9]', '', x))

In [99]:
print(df_financials)

       borrower_id            borrower_name  borrower_sector_code  \
0               B1  Knapp  Brown and Keller               66290.0
1               B1  Knapp  Brown and Keller               66290.0
2               B1  Knapp  Brown and Keller               66290.0
3               B1  Knapp  Brown and Keller               66290.0
4               B1  Knapp  Brown and Keller               66290.0
...            ...                      ...                   ...
118430         B20                 Pena LLC               28290.0
118431         B20                 Pena LLC               28290.0
118432         B20                 Pena LLC               28290.0
118433         B20                 Pena LLC               28290.0
118434         B20                 Pena LLC               28290.0

                              borrower_sector_description  \
0       Other activities auxiliary to insurance and pe...
1       Other activities auxiliary to insurance and pe...
2       Other activities auxiliary to insurance and pe...
3       Other activities auxiliary to insurance and pe...
4       Other activities auxiliary to insurance and pe...
...                                                   ...
118430  Manufacture of other general-purpose machinery...
118431  Manufacture of other general-purpose machinery...
118432  Manufacture of other general-purpose machinery...
118433  Manufacture of other general-purpose machinery...
118434  Manufacture of other general-purpose machinery...

                                 item  \
0                            ACCR_EXP
1                           LT_INVEST
2                          SR_LT_DEBT
3                          TOTAL_LIAB
4                        ACCT_PAYABLE
...                               ...
118430          SELLING_MARKETING_EXP
118431        NET_INCOME_EXCL_MIN_INT
118432        OTHER_GENERAL_ADMIN_EXP
118433    NET_INCOME_INCL_EXTRA_ITEMS
118434  INTEREST_EXP_AND_INCOME_TOTAL

                                             item_name         parent_item  \
0                                             Accruals  TOTAL_CURRENT_LIAB
1                                Long-term Investments                 NaN
2                                    Other Senior Debt       TOTAL_LT_LIAB
3                                    Total Liabilities                 NaN
4                                      Trade Creditors  TOTAL_CURRENT_LIAB
...                                                ...                 ...
118430                             Selling & Marketing      TOTAL_OPER_EXP
118431   Net Income/(Loss) Excluding Minority Interest                 NaN
118432                               Other G&A Expense      TOTAL_OPER_EXP
118433  Net Income/(Loss) to Common Incl Unusual Items                 NaN
118434               Total Interest Expense and Income                 NaN

                        parent_name  item_order         item_type     period  \
0         Total Current Liabilities         302     Balance Sheet 2022-02-01
1                               NaN         277     Balance Sheet 2022-02-01
2       Total Long-Term Liabilities         319     Balance Sheet 2022-02-01
3                               NaN         338     Balance Sheet 2022-02-01
4         Total Current Liabilities         300     Balance Sheet 2022-02-01
...                             ...         ...               ...        ...
118430     Total Operating Expenses         178  Income Statement 2025-05-01
118431                          NaN         257  Income Statement 2025-05-01
118432     Total Operating Expenses         193  Income Statement 2025-05-01
118433                          NaN         259  Income Statement 2025-05-01
118434                          NaN         252  Income Statement 2025-05-01

       period_title    item_value fy_month fy_year
0           M1-FY23      0.000000        1      23
1           M1-FY23      0.000000        1      23
2           M1-FY23      0.000000        1      23
3           M1-FY23      0.000000        1      23
4           M1-FY23      0.000000        1      23
...             ...           ...      ...     ...
118430     M12-FY25 -70279.849830       12      25
118431     M12-FY25  13864.610400       12      25
118432     M12-FY25      0.000000       12      25
118433     M12-FY25  13864.610400       12      25
118434     M12-FY25  -4509.804853       12      25

[118435 rows x 15 columns]

In [100]:
df_covenants.head(4)

,borrower_id,borrower_name,borrower_sector_code,borrower_sector_description,period,period_title,covenant_type,covenant_property_name,covenant_property,covenant_property_unit,covenant_property_value
0,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,01/10/22,M9-FY23,DSCR,DSCR Actual,Actual,NUMERIC,3.549384
1,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,01/10/22,M9-FY23,DSCR,DSCR Headroom,Headroom,PERCENTAGE,24.773947
2,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,01/10/22,M9-FY23,DSCR,DSCR Status,Status,NUMERIC,1.000000
3,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,01/10/22,M9-FY23,DSCR,DSCR Threshold,Threshold,NUMERIC,2.750000

In [101]:
df_covenants_pivot = df_covenants.pivot_table(index=['borrower_id', 'borrower_name', 'borrower_sector_code', 'borrower_sector_description', 'period', 'period_title', 'covenant_type'], columns='covenant_property', values='covenant_property_value').reset_index()

In [102]:
df_covenants_pivot = df_covenants_pivot.rename_axis(None, axis=1).reset_index(drop=True)

In [103]:
df_covenants_pivot

,borrower_id,borrower_name,borrower_sector_code,borrower_sector_description,period,period_title,covenant_type,Actual,Headroom,Status,Threshold
0,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,01/01/23,M12-FY23(A),DSCR,2.624749,-5.249102,-1.0,2.75
1,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,01/01/23,M12-FY23(A),Gross Leverage Ratio,3.841833,3.282403,0.0,3.96
2,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,01/01/23,M12-FY23(A),Minimum Cash Cover,635053.100000,62.366188,1.0,275000.00
3,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,01/01/23,M12-FY23(A),Senior Leverage Ratio,2.249121,16.286605,1.0,2.64
4,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,01/01/24,M12-FY24,DSCR,-0.180507,-1785.838694,-1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...
2666,B9,Lee-Gibson,56101,Licenced restaurants,01/12/22,M6-FY23,Soft Gross Leverage Ratio,3.215004,33.452276,1.0,4.62
2667,B9,Lee-Gibson,56101,Licenced restaurants,01/12/23,M6-FY24,DSCR,2.873468,4.726499,0.0,2.75
2668,B9,Lee-Gibson,56101,Licenced restaurants,01/12/23,M6-FY24,Gross Leverage Ratio,4.467315,18.830312,1.0,5.39
2669,B9,Lee-Gibson,56101,Licenced restaurants,01/12/23,M6-FY24,Loan to Value,69.300000,3.384615,0.0,71.50
2670,B9,Lee-Gibson,56101,Licenced restaurants,01/12/23,M6-FY24,Soft Gross Leverage Ratio,4.467315,8.470121,0.0,4.84

In [104]:
df_covenants_pivot['period'] = pd.to_datetime(df_covenants_pivot['period'],format='%d/%m/%y')
df_covenants_pivot['fy_month'] = df_covenants_pivot['period_title'].str.split('-',expand=True)[0].apply(lambda x: re.sub('[^0-9]', '', x))
df_covenants_pivot['fy_year'] = df_covenants_pivot['period_title'].str.split('-',expand=True)[1].apply(lambda x: re.sub('[^0-9]', '', x))

In [105]:
df_covenants_pivot

,borrower_id,borrower_name,borrower_sector_code,borrower_sector_description,period,period_title,covenant_type,Actual,Headroom,Status,Threshold,fy_month,fy_year
0,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,2023-01-01,M12-FY23(A),DSCR,2.624749,-5.249102,-1.0,2.75,12,23
1,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,2023-01-01,M12-FY23(A),Gross Leverage Ratio,3.841833,3.282403,0.0,3.96,12,23
2,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,2023-01-01,M12-FY23(A),Minimum Cash Cover,635053.100000,62.366188,1.0,275000.00,12,23
3,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,2023-01-01,M12-FY23(A),Senior Leverage Ratio,2.249121,16.286605,1.0,2.64,12,23
4,B1,Knapp Brown and Keller,66290,Other activities auxiliary to insurance and pe...,2024-01-01,M12-FY24,DSCR,-0.180507,-1785.838694,-1.0,2.75,12,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,B9,Lee-Gibson,56101,Licenced restaurants,2022-12-01,M6-FY23,Soft Gross Leverage Ratio,3.215004,33.452276,1.0,4.62,6,23
2667,B9,Lee-Gibson,56101,Licenced restaurants,2023-12-01,M6-FY24,DSCR,2.873468,4.726499,0.0,2.75,6,24
2668,B9,Lee-Gibson,56101,Licenced restaurants,2023-12-01,M6-FY24,Gross Leverage Ratio,4.467315,18.830312,1.0,5.39,6,24
2669,B9,Lee-Gibson,56101,Licenced restaurants,2023-12-01,M6-FY24,Loan to Value,69.300000,3.384615,0.0,71.50,6,24
2670,B9,Lee-Gibson,56101,Licenced restaurants,2023-12-01,M6-FY24,Soft Gross Leverage Ratio,4.467315,8.470121,0.0,4.84,6,24

In [106]:
df_borrowers

,borrower_id,borrower_name,financial_year_start_date,most_recent_data,borrower_currency,borrower_sector_code,borrower_sector_description,monitoring_level,monitoring_status
0,B1,Knapp Brown and Keller,2022-05-01,2023-01-01,GBP,43220,"Plumbing, heat and air-conditioning installation",0,Standard
1,B2,Miller Wood and Wilkinson,2022-02-01,2023-01-01,GBP,66290,Other activities auxiliary to insurance and pe...,0,Standard
2,B3,Smith Ltd,2022-01-01,2023-02-01,GBP,55100,Hotels and similar accommodation,0,Standard
3,B4,Porter-Beasley,2022-04-01,2023-02-01,GBP,85590,Other education n.e.c.,0,Standard
4,B5,Flores Perez and Chen,2022-07-01,2023-02-01,GBP,73110,Advertising agencies,0,Standard
5,B6,Gutierrez-Martinez,2022-02-01,2023-03-01,GBP,85410,Post-secondary non-tertiary education,0,Standard
6,B7,Bauer-Page,2023-04-01,2023-03-01,GBP,55100,Hotels and similar accommodation,0,Standard
7,B8,Newman Harris and Cisneros,2021-07-01,2023-03-01,GBP,56101,Licenced restaurants,0,Standard
8,B9,Lee-Gibson,2021-04-01,2023-03-01,GBP,42120,Construction of railways and underground railways,2,Intensive
9,B10,Moore Vasquez and Willis,2020-04-01,2023-03-01,GBP,32500,Manufacture of medical and dental instruments ...,0,Standard
10,B11,Jones PLC,2022-01-01,2023-03-01,GBP,70221,Financial management,0,Standard
11,B12,Gonzales LLC,2018-08-01,2023-03-01,GBP,56101,Licenced restaurants,0,Standard
12,B13,Luna-Montgomery,2016-04-01,2023-03-01,GBP,42990,Construction of other civil engineering projec...,0,Standard
13,B14,White Inc,2022-10-01,2023-03-01,GBP,55100,Hotels and similar accommodation,0,Standard
14,B15,Garcia Gordon and Lopez,2023-06-01,2023-04-01,GBP,28290,Manufacture of other general-purpose machinery...,0,Standard
15,B16,Smith-Blankenship,2023-01-01,2023-04-01,EUR,55100,Hotels and similar accommodation,0,Standard
16,B17,Davis Group,2022-07-01,2023-04-01,GBP,55100,Hotels and similar accommodation,2,Intensive
17,B18,Robertson-Todd,2023-04-01,2023-04-01,GBP,43999,Other specialised construction activities n.e.c.,0,Standard
18,B19,Woods Ayers and Jacobs,2021-11-01,2023-04-01,GBP,55100,Hotels and similar accommodation,0,Standard
19,B20,Pena LLC,2021-07-01,2022-03-01,GBP,63990,Other information service activities n.e.c.,1,Watchlist

In [107]:
import os
if not os.path.exists('transformed'):
    os.makedirs('transformed')

df_borrowers.to_csv('transformed/borrowers.csv', index=False)
df_covenants_pivot.to_csv('transformed/covenants.csv', index=False)
df_financials.to_csv('transformed/financials.csv', index=False)