In [46]:
import pandas as pd
df_borrowers = pd.read_csv('input/Dummy_Borrowers.csv')
df_covenants = pd.read_csv('input/Dummy_Covenants.csv')
df_financials = pd.read_csv('input/Dummy_Financials.csv')
print(df_borrowers.info())
print(df_covenants.info())
print(df_financials.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   borrower_id                  20 non-null     object
 1   borrower_name                20 non-null     object
 2   financial_year_start_date    20 non-null     object
 3   most_recent_data             20 non-null     object
 4   borrower_currency            20 non-null     object
 5   borrower_sector_code         20 non-null     int64
 6   borrower_sector_description  20 non-null     object
 7   monitoring_level             20 non-null     int64
 8   monitoring_status            20 non-null     object
dtypes: int64(2), object(7)
memory usage: 1.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   borrower_id                  507 non-null    object
 1   borrower_name                507 non-null    object
 2   borrower_sector_code         507 non-null    int64
 3   borrower_sector_description  507 non-null    object
 4   period                       507 non-null    object
 5   period_title                 507 non-null    object
 6   covenant_type                507 non-null    object
 7   covenant_property_name       507 non-null    object
 8   covenant_property            507 non-null    object
 9   covenant_property_value      507 non-null    float64
 10  covenant_property_unit       410 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 43.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4632 entries, 0 to 4631
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   borrower_id                  4632 non-null   object
 1   borrower_name                4632 non-null   object
 2   borrower_sector_code         4632 non-null   int64
 3   borrower_sector_description  4632 non-null   object
 4   item                         4632 non-null   object
 5   item_name                    4632 non-null   object
 6   parent_item                  2654 non-null   object
 7   parent_name                  2654 non-null   object
 8   item_order                   4632 non-null   int64
 9   item_type                    4632 non-null   object
 10  period                       4632 non-null   object
 11  item_value                   4632 non-null   float64
 12  period_title                 4632 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 470.6+ KB
None

In [47]:
df_borrowers

,borrower_id,borrower_name,financial_year_start_date,most_recent_data,borrower_currency,borrower_sector_code,borrower_sector_description,monitoring_level,monitoring_status
0,B1,Knapp Brown and Keller,01/05/2022,01/01/2023,GBP,43220,"Plumbing, heat and air-conditioning installation",0,Standard
1,B2,Miller Wood and Wilkinson,01/02/2022,01/01/2023,GBP,66290,Other activities auxiliary to insurance and pe...,0,Standard
2,B3,Smith Ltd,01/01/2022,01/02/2023,GBP,55100,Hotels and similar accommodation,0,Standard
3,B4,Porter-Beasley,01/04/2022,01/02/2023,GBP,85590,Other education n.e.c.,0,Standard
4,B5,Flores Perez and Chen,01/07/2022,01/02/2023,GBP,73110,Advertising agencies,0,Standard
5,B6,Gutierrez-Martinez,01/02/2022,01/03/2023,GBP,85410,Post-secondary non-tertiary education,0,Standard
6,B7,Bauer-Page,01/04/2023,01/03/2023,GBP,55100,Hotels and similar accommodation,0,Standard
7,B8,Newman Harris and Cisneros,01/07/2021,01/03/2023,GBP,56101,Licenced restaurants,0,Standard
8,B9,Lee-Gibson,01/04/2021,01/03/2023,GBP,42120,Construction of railways and underground railways,2,Intensive
9,B10,Moore Vasquez and Willis,01/04/2020,01/03/2023,GBP,32500,Manufacture of medical and dental instruments ...,0,Standard
10,B11,Jones PLC,01/01/2022,01/03/2023,GBP,70221,Financial management,0,Standard
11,B12,Gonzales LLC,01/08/2018,01/03/2023,GBP,56101,Licenced restaurants,0,Standard
12,B13,Luna-Montgomery,01/04/2016,01/03/2023,GBP,42990,Construction of other civil engineering projec...,0,Standard
13,B14,White Inc,01/10/2022,01/03/2023,GBP,55100,Hotels and similar accommodation,0,Standard
14,B15,Garcia Gordon and Lopez,01/06/2023,01/04/2023,GBP,28290,Manufacture of other general-purpose machinery...,0,Standard
15,B16,Smith-Blankenship,01/01/2023,01/04/2023,EUR,55100,Hotels and similar accommodation,0,Standard
16,B17,Davis Group,01/07/2022,01/04/2023,GBP,55100,Hotels and similar accommodation,2,Intensive
17,B18,Robertson-Todd,01/04/2023,01/04/2023,GBP,43999,Other specialised construction activities n.e.c.,0,Standard
18,B19,Woods Ayers and Jacobs,01/11/2021,01/04/2023,GBP,55100,Hotels and similar accommodation,0,Standard
19,B20,Pena LLC,01/07/2021,01/03/2022,GBP,63990,Other information service activities n.e.c.,1,Watchlist

In [48]:
df_borrowers['financial_year_start_date'] = pd.to_datetime(df_borrowers['financial_year_start_date'],format="%d/%m/%Y")
df_borrowers['most_recent_data'] = pd.to_datetime(df_borrowers['most_recent_data'],format="%d/%m/%Y")
df_borrowers

,borrower_id,borrower_name,financial_year_start_date,most_recent_data,borrower_currency,borrower_sector_code,borrower_sector_description,monitoring_level,monitoring_status
0,B1,Knapp Brown and Keller,2022-05-01,2023-01-01,GBP,43220,"Plumbing, heat and air-conditioning installation",0,Standard
1,B2,Miller Wood and Wilkinson,2022-02-01,2023-01-01,GBP,66290,Other activities auxiliary to insurance and pe...,0,Standard
2,B3,Smith Ltd,2022-01-01,2023-02-01,GBP,55100,Hotels and similar accommodation,0,Standard
3,B4,Porter-Beasley,2022-04-01,2023-02-01,GBP,85590,Other education n.e.c.,0,Standard
4,B5,Flores Perez and Chen,2022-07-01,2023-02-01,GBP,73110,Advertising agencies,0,Standard
5,B6,Gutierrez-Martinez,2022-02-01,2023-03-01,GBP,85410,Post-secondary non-tertiary education,0,Standard
6,B7,Bauer-Page,2023-04-01,2023-03-01,GBP,55100,Hotels and similar accommodation,0,Standard
7,B8,Newman Harris and Cisneros,2021-07-01,2023-03-01,GBP,56101,Licenced restaurants,0,Standard
8,B9,Lee-Gibson,2021-04-01,2023-03-01,GBP,42120,Construction of railways and underground railways,2,Intensive
9,B10,Moore Vasquez and Willis,2020-04-01,2023-03-01,GBP,32500,Manufacture of medical and dental instruments ...,0,Standard
10,B11,Jones PLC,2022-01-01,2023-03-01,GBP,70221,Financial management,0,Standard
11,B12,Gonzales LLC,2018-08-01,2023-03-01,GBP,56101,Licenced restaurants,0,Standard
12,B13,Luna-Montgomery,2016-04-01,2023-03-01,GBP,42990,Construction of other civil engineering projec...,0,Standard
13,B14,White Inc,2022-10-01,2023-03-01,GBP,55100,Hotels and similar accommodation,0,Standard
14,B15,Garcia Gordon and Lopez,2023-06-01,2023-04-01,GBP,28290,Manufacture of other general-purpose machinery...,0,Standard
15,B16,Smith-Blankenship,2023-01-01,2023-04-01,EUR,55100,Hotels and similar accommodation,0,Standard
16,B17,Davis Group,2022-07-01,2023-04-01,GBP,55100,Hotels and similar accommodation,2,Intensive
17,B18,Robertson-Todd,2023-04-01,2023-04-01,GBP,43999,Other specialised construction activities n.e.c.,0,Standard
18,B19,Woods Ayers and Jacobs,2021-11-01,2023-04-01,GBP,55100,Hotels and similar accommodation,0,Standard
19,B20,Pena LLC,2021-07-01,2022-03-01,GBP,63990,Other information service activities n.e.c.,1,Watchlist

In [49]:
df_financials['period'] = pd.to_datetime(df_financials['period'],format='%d/%m/%Y')

In [50]:
df_financials

,borrower_id,borrower_name,borrower_sector_code,borrower_sector_description,item,item_name,parent_item,parent_name,item_order,item_type,period,item_value,period_title
0,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",STOCKS,Stocks,TOTAL_CURRENT_ASSETS,Total Current Assets,292,Balance Sheet,2023-01-01,1.022450e+07,M9-FY23(A)
1,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",PAYE_NI,PAYE and NI,TOTAL_CURRENT_LIAB,Total Current Liabilities,304,Balance Sheet,2023-01-01,9.189454e+04,M9-FY23(A)
2,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",ACCR_EXP,Accruals,TOTAL_CURRENT_LIAB,Total Current Liabilities,302,Balance Sheet,2023-01-01,1.613246e+06,M9-FY23(A)
3,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",LT_INVEST,Long-term Investments,NaN,NaN,277,Balance Sheet,2023-01-01,0.000000e+00,M9-FY23(A)
4,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",HP_LT_DEBT,Hire Purchase,TOTAL_LT_LIAB,Total Long-Term Liabilities,318,Balance Sheet,2023-01-01,4.680518e+04,M9-FY23(A)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4627,B9,Lee-Gibson,66290,Construction of railways and underground railways,ON_LT_DEBT_REPAID,ON Loan Repaid,CFF,Cash from Financing,394,Cash Flows,2024-12-01,-3.215228e+04,M4-FY25
4628,B9,Lee-Gibson,66290,Construction of railways and underground railways,ON_LT_DEBT_REPAID,ON Loan Repaid,CFF,Cash from Financing,394,Cash Flows,2024-12-01,-3.215228e+04,M3-FY25
4629,B9,Lee-Gibson,66290,Construction of railways and underground railways,ON_LT_DEBT_REPAID,ON Loan Repaid,CFF,Cash from Financing,394,Cash Flows,2024-12-01,-3.215228e+04,M3-FY25
4630,B9,Lee-Gibson,66290,Construction of railways and underground railways,ON_LT_DEBT_REPAID,ON Loan Repaid,CFF,Cash from Financing,394,Cash Flows,2024-12-01,-3.215228e+04,M1-FY25
4631,B9,Lee-Gibson,66290,Construction of railways and underground railways,ON_LT_DEBT_REPAID,ON Loan Repaid,CFF,Cash from Financing,394,Cash Flows,2024-12-01,-3.215228e+04,M12-FY24

In [51]:
import re
df_financials['fy_month'] = df_financials['period_title'].str.split('-',expand=True)[0].apply(lambda x: re.sub('[^0-9]', '', x))
df_financials['fy_year'] = df_financials['period_title'].str.split('-',expand=True)[1].apply(lambda x: re.sub('[^0-9]', '', x))

In [52]:
df_financials

,borrower_id,borrower_name,borrower_sector_code,borrower_sector_description,item,item_name,parent_item,parent_name,item_order,item_type,period,item_value,period_title,fy_month,fy_year
0,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",STOCKS,Stocks,TOTAL_CURRENT_ASSETS,Total Current Assets,292,Balance Sheet,2023-01-01,1.022450e+07,M9-FY23(A),9,23
1,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",PAYE_NI,PAYE and NI,TOTAL_CURRENT_LIAB,Total Current Liabilities,304,Balance Sheet,2023-01-01,9.189454e+04,M9-FY23(A),9,23
2,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",ACCR_EXP,Accruals,TOTAL_CURRENT_LIAB,Total Current Liabilities,302,Balance Sheet,2023-01-01,1.613246e+06,M9-FY23(A),9,23
3,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",LT_INVEST,Long-term Investments,NaN,NaN,277,Balance Sheet,2023-01-01,0.000000e+00,M9-FY23(A),9,23
4,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",HP_LT_DEBT,Hire Purchase,TOTAL_LT_LIAB,Total Long-Term Liabilities,318,Balance Sheet,2023-01-01,4.680518e+04,M9-FY23(A),9,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4627,B9,Lee-Gibson,66290,Construction of railways and underground railways,ON_LT_DEBT_REPAID,ON Loan Repaid,CFF,Cash from Financing,394,Cash Flows,2024-12-01,-3.215228e+04,M4-FY25,4,25
4628,B9,Lee-Gibson,66290,Construction of railways and underground railways,ON_LT_DEBT_REPAID,ON Loan Repaid,CFF,Cash from Financing,394,Cash Flows,2024-12-01,-3.215228e+04,M3-FY25,3,25
4629,B9,Lee-Gibson,66290,Construction of railways and underground railways,ON_LT_DEBT_REPAID,ON Loan Repaid,CFF,Cash from Financing,394,Cash Flows,2024-12-01,-3.215228e+04,M3-FY25,3,25
4630,B9,Lee-Gibson,66290,Construction of railways and underground railways,ON_LT_DEBT_REPAID,ON Loan Repaid,CFF,Cash from Financing,394,Cash Flows,2024-12-01,-3.215228e+04,M1-FY25,1,25
4631,B9,Lee-Gibson,66290,Construction of railways and underground railways,ON_LT_DEBT_REPAID,ON Loan Repaid,CFF,Cash from Financing,394,Cash Flows,2024-12-01,-3.215228e+04,M12-FY24,12,24

In [53]:
df_covenants.head(4)

,borrower_id,borrower_name,borrower_sector_code,borrower_sector_description,period,period_title,covenant_type,covenant_property_name,covenant_property,covenant_property_value,covenant_property_unit
0,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",01/01/23,M9-FY23(A),DSCR,DSCR Actual,Actual,-11.882854,NUMERIC
1,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",01/01/23,M9-FY23(A),DSCR,DSCR Headroom,Headroom,-125.246460,PERCENTAGE
2,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",01/01/23,M9-FY23(A),DSCR,DSCR Status,Status,-1.000000,NaN
3,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",01/01/23,M9-FY23(A),DSCR,DSCR Threshold,Threshold,3.000000,NUMERIC

In [54]:
df_covenants_pivot = df_covenants.pivot_table(index=['borrower_id', 'borrower_name', 'borrower_sector_code', 'borrower_sector_description', 'period', 'period_title', 'covenant_type'], columns='covenant_property', values='covenant_property_value').reset_index()

In [55]:
df_covenants_pivot = df_covenants_pivot.rename_axis(None, axis=1).reset_index(drop=True)

In [56]:
df_covenants_pivot

,borrower_id,borrower_name,borrower_sector_code,borrower_sector_description,period,period_title,covenant_type,Actual,Headroom,Status,Threshold
0,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",01/01/23,M9-FY23(A),DSCR,-1.188285e+01,-125.246460,-1.0,3.0
1,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",01/01/23,M9-FY23(A),Gross Leverage Ratio,6.918339e-01,-38.366777,-1.0,0.5
2,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",01/01/23,M9-FY23(A),ICR,2.827116e+01,46.942393,1.0,15.0
3,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",01/01/23,M9-FY23(A),Minimum Cash Cover,1.925522e+06,48.066033,1.0,1000000.0
4,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",01/01/24,M9-FY24,DSCR,6.409049e+01,91.730442,1.0,5.3
...,...,...,...,...,...,...,...,...,...,...,...
139,B3,Smith Ltd,66290,Other activities auxiliary to insurance and pe...,01/12/23,M11-FY24,Senior Leverage Ratio,1.489132e+00,37.952813,1.0,2.4
140,B3,Smith Ltd,66290,Other activities auxiliary to insurance and pe...,01/12/24,M11-FY25,DSCR,3.270288e+00,23.554126,1.0,2.5
141,B3,Smith Ltd,66290,Other activities auxiliary to insurance and pe...,01/12/24,M11-FY25,Gross Leverage Ratio,1.066366e+00,70.378726,1.0,3.6
142,B3,Smith Ltd,66290,Other activities auxiliary to insurance and pe...,01/12/24,M11-FY25,Minimum Cash Cover,1.270676e+06,80.325435,1.0,250000.0
143,B3,Smith Ltd,66290,Other activities auxiliary to insurance and pe...,01/12/24,M11-FY25,Senior Leverage Ratio,1.066366e+00,55.568089,1.0,2.4

In [57]:
df_covenants_pivot['period'] = pd.to_datetime(df_covenants_pivot['period'],format='%d/%m/%y')
df_covenants_pivot['fy_month'] = df_covenants_pivot['period_title'].str.split('-',expand=True)[0].apply(lambda x: re.sub('[^0-9]', '', x))
df_covenants_pivot['fy_year'] = df_covenants_pivot['period_title'].str.split('-',expand=True)[1].apply(lambda x: re.sub('[^0-9]', '', x))

In [58]:
df_covenants_pivot

,borrower_id,borrower_name,borrower_sector_code,borrower_sector_description,period,period_title,covenant_type,Actual,Headroom,Status,Threshold,fy_month,fy_year
0,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",2023-01-01,M9-FY23(A),DSCR,-1.188285e+01,-125.246460,-1.0,3.0,9,23
1,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",2023-01-01,M9-FY23(A),Gross Leverage Ratio,6.918339e-01,-38.366777,-1.0,0.5,9,23
2,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",2023-01-01,M9-FY23(A),ICR,2.827116e+01,46.942393,1.0,15.0,9,23
3,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",2023-01-01,M9-FY23(A),Minimum Cash Cover,1.925522e+06,48.066033,1.0,1000000.0,9,23
4,B1,Knapp Brown and Keller,43220,"Plumbing, heat and air-conditioning installation",2024-01-01,M9-FY24,DSCR,6.409049e+01,91.730442,1.0,5.3,9,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,B3,Smith Ltd,66290,Other activities auxiliary to insurance and pe...,2023-12-01,M11-FY24,Senior Leverage Ratio,1.489132e+00,37.952813,1.0,2.4,11,24
140,B3,Smith Ltd,66290,Other activities auxiliary to insurance and pe...,2024-12-01,M11-FY25,DSCR,3.270288e+00,23.554126,1.0,2.5,11,25
141,B3,Smith Ltd,66290,Other activities auxiliary to insurance and pe...,2024-12-01,M11-FY25,Gross Leverage Ratio,1.066366e+00,70.378726,1.0,3.6,11,25
142,B3,Smith Ltd,66290,Other activities auxiliary to insurance and pe...,2024-12-01,M11-FY25,Minimum Cash Cover,1.270676e+06,80.325435,1.0,250000.0,11,25
143,B3,Smith Ltd,66290,Other activities auxiliary to insurance and pe...,2024-12-01,M11-FY25,Senior Leverage Ratio,1.066366e+00,55.568089,1.0,2.4,11,25

In [59]:
df_borrowers

,borrower_id,borrower_name,financial_year_start_date,most_recent_data,borrower_currency,borrower_sector_code,borrower_sector_description,monitoring_level,monitoring_status
0,B1,Knapp Brown and Keller,2022-05-01,2023-01-01,GBP,43220,"Plumbing, heat and air-conditioning installation",0,Standard
1,B2,Miller Wood and Wilkinson,2022-02-01,2023-01-01,GBP,66290,Other activities auxiliary to insurance and pe...,0,Standard
2,B3,Smith Ltd,2022-01-01,2023-02-01,GBP,55100,Hotels and similar accommodation,0,Standard
3,B4,Porter-Beasley,2022-04-01,2023-02-01,GBP,85590,Other education n.e.c.,0,Standard
4,B5,Flores Perez and Chen,2022-07-01,2023-02-01,GBP,73110,Advertising agencies,0,Standard
5,B6,Gutierrez-Martinez,2022-02-01,2023-03-01,GBP,85410,Post-secondary non-tertiary education,0,Standard
6,B7,Bauer-Page,2023-04-01,2023-03-01,GBP,55100,Hotels and similar accommodation,0,Standard
7,B8,Newman Harris and Cisneros,2021-07-01,2023-03-01,GBP,56101,Licenced restaurants,0,Standard
8,B9,Lee-Gibson,2021-04-01,2023-03-01,GBP,42120,Construction of railways and underground railways,2,Intensive
9,B10,Moore Vasquez and Willis,2020-04-01,2023-03-01,GBP,32500,Manufacture of medical and dental instruments ...,0,Standard
10,B11,Jones PLC,2022-01-01,2023-03-01,GBP,70221,Financial management,0,Standard
11,B12,Gonzales LLC,2018-08-01,2023-03-01,GBP,56101,Licenced restaurants,0,Standard
12,B13,Luna-Montgomery,2016-04-01,2023-03-01,GBP,42990,Construction of other civil engineering projec...,0,Standard
13,B14,White Inc,2022-10-01,2023-03-01,GBP,55100,Hotels and similar accommodation,0,Standard
14,B15,Garcia Gordon and Lopez,2023-06-01,2023-04-01,GBP,28290,Manufacture of other general-purpose machinery...,0,Standard
15,B16,Smith-Blankenship,2023-01-01,2023-04-01,EUR,55100,Hotels and similar accommodation,0,Standard
16,B17,Davis Group,2022-07-01,2023-04-01,GBP,55100,Hotels and similar accommodation,2,Intensive
17,B18,Robertson-Todd,2023-04-01,2023-04-01,GBP,43999,Other specialised construction activities n.e.c.,0,Standard
18,B19,Woods Ayers and Jacobs,2021-11-01,2023-04-01,GBP,55100,Hotels and similar accommodation,0,Standard
19,B20,Pena LLC,2021-07-01,2022-03-01,GBP,63990,Other information service activities n.e.c.,1,Watchlist

In [60]:
import os
if not os.path.exists('transformed'):
    os.makedirs('transformed')

df_borrowers.to_csv('transformed/borrowers.csv', index=False)
df_covenants_pivot.to_csv('transformed/covenants.csv', index=False)
df_financials.to_csv('transformed/financials.csv', index=False)